.pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poke-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.poke-card {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
  padding: 5px;
  width: 40%;
}


.poke-card:hover {
  background-color: gainsboro;
  transform: scale(1.2,1.2);
}

.poke-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (max-width: 660px) {
  .poke-card {
    width: 100%;
  }
}